.sidebar-container{
    // height: 100%;
    padding-top: 20px;
    margin-right: 40px;
    background-color: grey;
    // height: 20vw;
    // overflow-y: hidden;
    
    .favourites-title{
        font-size: 16px;
        margin-left: 10px;
    }
}